@model Veterinarios.Models.Appointement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) €
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.Name)<br />
            <img src="~/Animals/@Model.Animal.Photo" alt="" title="@Model.Animal.Name"
                 height="100" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vet)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="vets" asp-action="details" asp-route-id="@Model.VetFK">
            @Html.DisplayFor(model => model.Vet.Name) </a> - @Model.Vet.ProfessionalLicense
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
