@model IEnumerable<Veterinarios.Models.Vet>

@{
    ViewData["Title"] = "Index";
}

<h1>Veterinary</h1>

@if (User.IsInRole("Veterinary") || User.IsInRole("Administrative")) {
    <p>
        <a asp-action="Create">Add a new vet</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @*  @Html.DisplayNameFor  --> HTML Helper
                    this one is used to show the atribute name
                *@
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalLicense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vet in Model) {
            <tr>
                <td>
                    @* @Html.DisplayFor  --> mostra o conteúdo do campo *@
                    @Html.DisplayFor(modelItem => vet.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vet.ProfessionalLicense)
                </td>
                <td>
                    @* display vet's photo*@
                    @* there are two different ways to access vets data
                        a) using HTML Helpers: @Html.DisplayFor(modelItem => vet.Photo)
                        b) using foreach internal variable: vet
                    *@
                    @if (!string.IsNullOrEmpty(vet.Photo)) {
                        <a href="~/Photos/Vets/@vet.Photo" target="_blank">
                            <img src="~/Photos/Vets/@vet.Photo"
                         alt="photo of vet: @Html.DisplayFor(modelItem => vet.Name)"
                         title="@vet.Name"
                         height="50" />
                        </a>
                    }
                    else {
                        <img src="~/Photos/@vet.Photo"
                     alt="photo of vet: @Html.DisplayFor(modelItem => vet.Name)"
                     title="@vet.Name"
                     height="50" />
                    }
                </td>
                <td>
                    @if (User.IsInRole("Veterinary") || User.IsInRole("Administrative")) {
                        <text>
                            <a asp-action="Edit" asp-route-id="@vet.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@vet.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@vet.Id">Apagar</a>
                        </text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
